body {
    background-color: #F9AF4B
}

h1 {
    color: black;
    text-align: center;
    font-size: 300%;
}

h3 {
    font-size: 150%;
    margin-bottom: -15px;
    text-align: center;
}

p {
    text-align: center;
}